body{font-family: 'Roboto', sans-serif;font-size:16px;background:url("images/bg.png") repeat scroll 0 0;}
#container{margin:0 auto;max-width:715px;min-width:320px;position:relative;}
.downl{float:right;margin:15px 26px 0 0}
.header{position:relative;margin:15px 0 0 0;}
.header .logos{position:relative;float:left;margin:0 50px 0 0;}
.header .likebox{left:150px;position:absolute;top:65px;}
.clear{clear:both}
.langs{}
.search{margin:10px 0;}
li{list-style:none;}
ul{padding:0;}
.images .clearleft{clear:left;max-width:100%}

h1{color:#000;margin-top:12px;margin-bottom:17px;font-weight:600;}
h3{color:#000;font-size:20px;}
.header a.logo{margin:5px 0;}
.header a.logo2{vertical-align:top;margin:0 0 0 20px;}
.content{padding:0 5px;background:#fff; border: 1px solid #ccc;}


.gamepacks li{float:left;margin:5px 11px;text-align:center;}
.gamepacks li a{color:#000}

.quest, .answ{margin:0 0 14px 0;}
.quest .pack a{padding:3px 10px;font-size: 17px;color:#000;}
/*.quest img{border:1px solid #ccc;}*/
.answ li{list-style-position:outside;list-style-type:disc;}

.puzzles a{display:inline-block;vertical-align: middle;text-decoration:none;padding:1px;}
.solution{display:none;border-top:2px solid #ffbf64;margin:2px;}
.puzzles a.selected .solution{display:block;text-transform:capitalize;text-align:center;}
.puzzles a.selected{border:1px solid #ffbf64;}



.images li img{width:100%;display:block;}
.images li{float:left;margin:5px;overflow:hidden;max-width:150px;max-height:150px;width:20%;border:1px solid #CCCCCC;font-size:10px;}
.images a {color:#FFF;display:block;position:relative;font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;}
.images a img{vertical-align:middle;padding:1px;}		  
.images a span {font-size:16px;text-indent:-999px;position:absolute;left:0;top:0;padding-top:8%;text-align:center;vertical-align:middle;width:100%;height:100%;}
.images a.selected{text-decoration: none;}
.images a.selected span{background-color:rgba(0,0,0,0.5);text-indent:0;}

.pack{margin:3px;text-align:left;}
.pack a{background:#efe7be;text-decoration: none;color:#000;display:block;border:1px solid #999;font-size:18px;font-weight: bold;letter-spacing:1px;padding:0;text-transform:uppercase;}
.pack a{border-radius:10px;-webkit-border-radius:10px;-moz-border-radius:10px;}
.pack a:hover{background-color:#bcdcf8;color:#000}
.pack a:hover span{color: #888;}
.pack div, .theme div{display:inline-block;}
.pack img, .theme img{vertical-align:middle;}
.pack span{font-size:11px;color:#888;display:block;text-transform:none;}

.chapter h3{text-align:center;background:#f0f0f0;color:#000;font-size:24px;font-weight:bold;padding: 11px 0;margin:0}
.chapter .theme{border-bottom:1px solid #f0f0f0}
.theme a,.theme a:hover,.theme a:focus,.theme a:visited{color:#2ea9d3;font-size: 24px;font-weight:bold;}

.games li{background:#ff7c5d;border:1px solid #c8553e;width:49%;display:inline-block;text-align:center;padding:5px 0}
.games li.active, .games li:hover{background:#c0392b;}
.games li a{color:#fff;font-size: 22px;display: block;}

.wicon{background-image:url('../data/themes/icons3.png');width:49px;height:49px;display:inline-block !important;vertical-align:middle;margin: 20px;}

.game_desc {margin:15px 0; background:#f1f1f1;padding:5px;}
.game_desc img{margin:5px 15px 15px 5px;float:left;max-width:120px;}
.game_desc:after{content:"";display: table;clear:both;}


.version{float:right;font-size:12px;}
.footer, .footer a{color:#aaa;}
.ad{display:inline-block;height:600px;left:-130px;position:absolute;top:70px;width:120px;}
.lazy{display:none;}

.bs-callout{margin:20px 0;padding:20px;border-left:3px solid #eee}
.bs-callout h4{margin-top:0;margin-bottom:5px}
.bs-callout p:last-child{margin-bottom:0}
.bs-callout code{background-color:#fff;border-radius:3px}
.bs-callout-danger{background-color:#fdf7f7;border-color:#d9534f}
.bs-callout-danger h4{color:#d9534f}
.bs-callout-warning{background-color:#fcf8f2;border-color:#f0ad4e}
.bs-callout-warning h4{color:#f0ad4e}
.bs-callout-info{background-color:#f4f8fa;border-color:#5bc0de}
.bs-callout-info h4{color:#5bc0de}

.input-group{display:block}

.letterblock{display:inline-block;}
.letterblock span{background: #fffae1 none repeat scroll 0 0;border: 1px solid #ffbf64;color:#3e392f;display: inline-block;font-size: 20px;font-weight: bold;margin:1px 0;min-width: 25px;padding: 0;text-align: center;text-transform: uppercase;}
.letterblock span{border-radius:3px;-webkit-border-radius:3px;-moz-border-radius:3px;}
.letterblock:hover span{border: 1px solid #b58670}
.puzzles li{display:inline-block;margin:10px;}



.clearfix:after, .container:after, .container-fluid:after, .row:after, .form-horizontal .form-group:after, .btn-toolbar:after, .btn-group-vertical > .btn-group:after, .nav:after, .navbar:after, .navbar-header:after, .navbar-collapse:after, .pager:after, .panel-body:after, .modal-footer:after
{clear:left !important}

.post-ratings {
	width:100%;
	filter: alpha(opacity=100);
	-moz-opacity: 1;
	opacity: 1;
	/* background-color: #ffffff; */
}
.post-ratings-loading {
	display: none;
	height: 16px;
	text-align: left;
}
.post-ratings-image {
	border: 0px;
}
.post-ratings IMG, .post-ratings-loading IMG, .post-ratings-image IMG {
	border: 0px;
	padding: 0px;
	margin: 0px;
}
.post-ratings-text {
}
.post-ratings-comment-author {
	font-weight: normal;
	font-style: italic;
}

/* Post Navigation
------------------------------------------------------------ */

.navigation {
	font-size: 14px;
	padding: 20px 0;
	width: 100%;
  border-top:4px solid #e6e6e7;
}

.navigation li {
	display: inline;
  margin: 2px;
}

.navigation li a,
.navigation li span,
.navigation li a:hover,
.navigation li.active a {
	background: #e6e7ea;
	border: 1px solid #bfbfbf;
	color: #000;
	font-family: Arial, Tahoma, sans-serif;
	font-size: 12px;
	font-weight: bold;
	padding: 7px 10px;
	text-decoration: none;
	text-transform: uppercase;
}

.navigation li a:hover,
.navigation li.active span,
.navigation li.active a {
	background: #000;
  color:#fff;
}

.navigation li.disabled span{color: #bbb;}


@media screen and (max-width: 685px) {
  .logos img{width:90%;}
  .header{margin:0}
  .header .logos{float:none;margin:13px 0 0px 7px}
  .header .logos:after{content:"";clear:both;display: block;}
  .langs{width:100%;float:none;margin:13px 2px;}
  .images li{width:37%;}
  h1{font-size:26px;}
}

@media screen and (max-width: 520px) {
  .form-control{width:70%;}
  .header .likebox{top:50px;}
  .langs{margin:20px 0;}
  .langs img{margin-left:11px;width:40px}
  .games li a{font-size:18px;}
}

@media screen and (max-width: 380px) {
  .header .likebox{left:100px;position:absolute;top:50px;}
}
